name: Test and Release

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    env:
      UV_PYTHON: "3.9"
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.12"
          enable-cache: true
      - name: Install the project
        run: uv sync --all-extras --dev

      # Install and run pre-commit
      - run: |
          uv run pre-commit install
          uv run pre-commit install --hook-type commit-msg
          uv run pre-commit run --all-files

  pytest:
    name: Pytest ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]
        config:
          - { name: "Linux", os: ubuntu-latest }
          - { name: "MacOSX", os: macos-latest }
          - { name: "Windows", os: windows-latest }

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.12"
          enable-cache: true
      - name: Install and Run Tests
        run: |
          uv sync --dev
          uv pip install -r tests/requirements.txt
          uv run pytest -s ./tests

  release:
    needs: [pre-commit, pytest]
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write # IMPORTANT: mandatory for trusted publishing
      contents: write # IMPORTANT: mandatory for making GitHub Releases

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.12"
          enable-cache: true

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build sdist and wheel
        if: steps.release.outputs.released == 'true'
        run: uv build

      # https://docs.pypi.org/trusted-publishers/using-a-publisher/
      - name: Publish package distributions to PyPI
        if: steps.release.outputs.released == 'true'
        uses: pypa/gh-action-pypi-publish@release/v1
